<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chudao</title>
</head>
<body>
<h1>Product Info Upload Page</h1>
<form action="/binary/upload" method="post" enctype="multipart/form-data">
    UserId: <input type="text" name="user-id"><br>
    Product Name: <input type="text" name="product-name"><br>
    Product Category: <input type="text" name="product-category"><br>
    Product Description: <input type="text" name="product-description"><br>
    <!-- add tagging functionality in the future -->
    Product Link: <input type="text" name="product-link"><br>
    Product Brand: <input type="text" name="product-brand"><br>
    Brand Website: <input type="text" name="brand-link"><br>
    Product Photo Upload: <input name="file" type="file" size="20" /><br>
    <input type="submit" name="submit" value="submit" /><br>
</form>
</body>
</html>